<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.hotel.data.hotel.HotelMapper">
    <insert id="insertHotel" parameterType="com.example.hotel.po.Hotel"
    useGeneratedKeys="true" keyProperty="id">
        insert into Hotel(address,bizRegion,hotelDescription,hotelStar,hotelName,phoneNum,rate,manager_id,commentTime,minPrice,maxPrice)
        values (#{address},#{bizRegion},#{description},#{hotelStar},#{hotelName},#{phoneNum},#{rate},#{managerId},#{commentTime},#{minPrice},#{maxPrice})
    </insert>

    <select id="selectAllHotel" resultMap="Hotel">
        select * from Hotel
    </select>
    <select id="selectById" resultMap="Hotel">
        select * from Hotel where id=#{id}
    </select>

    <delete id="deleteHotel" parameterType="com.example.hotel.po.Hotel">
        delete from Hotel where id=#{id}
    </delete>

    <update id="updateMinPrice">
        update Hotel set minPrice=#{minPrice} where id=#{id}
    </update>

    <update id="updateMaxPrice">
        update Hotel set maxPrice=#{maxPrice} where id=#{id}
    </update>

    <update id="updateRate">
        update Hotel set rate=#{rate},commentTime=#{commentTime} where id=#{id}
    </update>

    <select id="getMinPrice" resultType="double">
        select minPrice from hotel where id=#{id}
    </select>

    <select id="getMaxPrice" resultType="double">
        select maxPrice from hotel where id=#{id}
    </select>

    <resultMap id="Hotel" type="com.example.hotel.vo.HotelVO">
        <id column="id" property="id"></id>
        <result column="address" property="address"></result>
        <result column="bizRegion" property="bizRegion"></result>
        <result column="hotelDescription" property="description"></result>
        <result column="hotelStar" property="hotelStar"></result>
        <result column="hotelName" property="name"></result>
        <result column="phoneNum" property="phoneNum"></result>
        <result column="rate" property="rate"></result>
        <result column="minPrice" property="minPrice"></result>
        <result column="maxPrice" property="maxPrice"></result>
        <result column="manager_id" property="managerId"></result>
        <result column="commentTime" property="commentTime"></result>
    </resultMap>


</mapper>